.navbar {
    padding: 0 16px 0 0;
}
.navbar-brand {
    position: relative;
    margin-top: -21px;
    top: 10px;
    height: 40px;
    right: -20px;
}

.navbar-nav{
    position: relative;
    margin-top: 7px;
    margin-left: 20px;
}

.icon{
    position: relative;
    margin-right: 15px;
}


.dropdown-item{
    color: #ffffff ; 
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

  .dropdown-menu a:hover{
    background: #87ecb1 !important;
  }
   