.navbar {
    padding: 0 16px 0 0;
}
.navbar-brand {
    position: relative;
    margin-top: -21px;
    top: 10px;
    height: 40px;
    right: -20px;
}

.navbar-nav{
    position: relative;
    margin-top: 7px;
    margin-left: 20px;
}

.icon{
    position: relative;
    margin-right: 15px;
}


.dropdown-item{
    color: #ffffff ; 
}