.container {
    background-color: #3d8d97;
    border-radius: 0.25rem;
}

.one{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 100px;
}

.two{
    background-color: #dddada;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 100px;
}

.tree{
    background-color: #b1b1b1;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 100px;
}
