<p></p>
<div class="container top-info">
  <div class="row">
    <div class="col top-info text-center ">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <h5><span class="badge badge-secondary" style="float:left"><i
              class="fa fa-envelope"></i></span>emre.erkmen@hotmail.com</h5>
        <h5><span class="badge badge-secondary" style="float:left"><i class="fa fa-phone"></i></span>0534 392 0715</h5>
        <h5><span class="badge badge-secondary" style="float:left"><i class="fa fa-calendar"></i></span>25/04/1994</h5>
      </div>
    </div>
    <div class="col-2 text-center top-info img">
      <img class="img-fluid" src="assets/img/profil_pic.jpg" width="100" height="180" alt="">
    </div>
    <div class="col top-info text-center ">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <h5>emre.erkmen2<span class="badge badge-secondary" style="float:right"><i class="fa fa-skype"></i></span></h5>
        <h5>github.com/emreerkmen<span class="badge badge-secondary" style="float:right"><i
              class="fa fa-github-square"></i></span></h5>
        <h5>İstanbul<span class="badge badge-secondary" style="float:right"><i class="fa fa-map-marker"></i></span></h5>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container blog shadow">

  <div class="row">
    <div class="col mt-5 one">
      <div *ngFor="let resume of resumes;index as i">
        <div class="card mb-3">
          <div class="card-body">
            <a class="card-title" data-toggle="collapse" href="#collapseExample{{i}}" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <h5 class="card-title">{{resume.summaryTitle}}</h5>
            </a>
            <p class="card-text">{{resume.summaryDefination}}</p>
            <div class="collapse" id="collapseExample{{i}}">
              <div class="card card-body">
                <p>{{resume.collapseDefination}}</p>
              </div>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <!--</div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container blog shadow">

  <div class="row">
    <div class="col mt-5 one">
      <div *ngFor="let title of titles;index as i">
        <div class="card mb-3">
          <div class="card-body">
            <a class="card-title" data-toggle="collapse" href="#collapseExample{{i}}" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <h5 class="card-title">{{title.title}} | {{companies[i].companyName}} ({{title.startDate|date}}-{{title.endDate|date}})</h5>
            </a>
            <p class="card-text"><!--{{resume.summaryDefination}}--></p>
            <div class="collapse" id="collapseExample{{i}}">
              <div class="card card-body">
                <p>{{descs[i].description}}</p>
              </div>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-11"></div>
    <div class="col-1"><button type="button" class="btn btn-primary" (click)="changeLanguage()">{{language}}</button>
    </div>
  </div>
</div>