<p></p>
<div class="container top-info">
  <div class="row">
    <div class="col top-info text-center ">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <h5>1. Başlık <span class="badge badge-secondary">New</span></h5>
        <h5>2. Başlık <span class="badge badge-secondary">New</span></h5>
        <h5>3. Başlık <span class="badge badge-secondary">New</span></h5>
      </div>
    </div>
    <div class="col-2 text-center top-info img">
      <img class="img-fluid" src="assets/img/profil_pic.jpg" width="100" height="180" alt="">
    </div>
    <div class="col top-info text-center ">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <h5>1. Başlık <span class="badge badge-secondary">New</span></h5>
        <h5>2. Başlık <span class="badge badge-secondary">New</span></h5>
        <h5>3. Başlık <span class="badge badge-secondary">New</span></h5>
      </div>
    </div>
  </div>
</div>

<div class="container blog shadow">
  <div class="row">
    <div class="col mt-5 one">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col mt-1 one">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
  </div>
  <div class="row">
      <div class="col mt-1 one">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
  </div>
</div>

